<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EnvironmentalWeb/src/com/environmentalweb/webservice/publish/MyPublish.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.environmentalweb.webservice.publish.MyPublish"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EnvironmentalWeb"/>
</launchConfiguration>
