<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<bean name="LogManager" class="com.example.action.LogManager"></bean>
	<bean name="Dao" class="com.example.action.Dao"></bean>
	

	<aop:config>
	    <aop:aspect ref="LogManager">
	        <aop:before method="addLogBefore" pointcut="execution(com.example.action.Dao.*(..))"/>
	    </aop:aspect>
	</aop:config>
</beans>